

/* Mobile Speakers 300px */

    .grid {
       grid-template: repeat(28, 1fr)/ repeat(1, 1fr);
       display: grid;
       position: block;
       width: 300px;
       margin-left: auto;
       margin-right: auto;
       padding: 0;
    }

    .mspeaker {
      display: block;
      width: 100%;
      text-overflow: wrap;
    }

    .dspeaker {
      display: none;
    }

      .flip-box {
      background-color: white;
      width: 300px;
      height: 300px;
      perspective: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip-box:hover .flip-box-inner {
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-box-front {
      background-color: white;
    }

    .flip-box-front img {
          width: 100%;
          border: 0;
          padding: 0;
          margin: 0;
    }

        .flip-box-back {
      background-color: white;
      text-align: left;
      color: white;
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-box-back p {
      font-size: 0.75em;
      text-align: justify;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.7em;
      text-align: justify;
    }

      .flip-box-back h4 {
      text-align: center;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h5 {
      font-size: 0.8em;
      color: #213E7A;
      text-align: center;
      padding: 5px;
    }

    .turquoise-background {
      background-color: #16BCFA;
    }

    .orange-background {
      background-color: #FE8548;
    }
  }

@media only screen and (min-width: 320px){
        
        /* Speakers */

    .grid {
       grid-template: repeat(28, 1fr)/ repeat(1, 1fr);
       display: grid;
       width: 320px; }

       .flip-box {
      width: 320px;
      height: 320px;
    }

         .flip-box-back p {
      font-size: 0.8em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.75em;
    }
}

@media only screen and (min-width: 360px){
        
        /* Speakers */

    .grid {
       grid-template: repeat(28, 1fr)/ repeat(1, 1fr);
       display: grid;
       width: 360px; }

       .flip-box {
      width: 360px;
      height: 360px;
    }

         .flip-box-back p {
      font-size: 1em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.9em;
    }
}

@media only screen and (min-width: 375px){
        
        /* Speakers */

    .grid {
       grid-template: repeat(28, 1fr)/ repeat(1, 1fr);
       display: grid;
       width: 375px; }

       .flip-box {
      width: 375px;
      height: 375px;
    }

             .flip-box-back p {
      font-size: 1em;
      padding: 14px;
    }
}

 @media only screen and (min-width: 411px){

      .grid {
       grid-template: repeat(28, 1fr)/ repeat(1, 1fr);
       display: grid;
       width: 411px; }

       .flip-box {
      width: 411px;
      height: 411px;
    }
  }

 @media only screen and (min-width: 414px){
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(1, 1fr);
       display: grid;
       position: block;
       width: 414px;
       margin-left: auto;
       margin-right: auto;
       padding: 0;
    }
}

    @media only screen and (min-width: 500px){
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(2, 1fr);
       width: 500px;
    }

    .flip-box {
      width: 250px;
      height: 250px;
      }

     .flip-box-back p {
      font-size: 0.6em;
      padding: 10px;
      line-height: 1.6em;
    }

    .flip-box-back .small {
      font-size: 0.55em;
      line-height: 1.6em;
    }

      .flip-box-back h4 {
      font-size: 1em;
      padding-top: 10px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h5 {
      font-size: 0.75em;
      padding: 5px;
    }
  }


    @media only screen and (min-width: 600px){
        
        /* Speakers */

    .grid {
       grid-template: repeat(6, 1fr)/ repeat(2, 1fr);
       display: grid;
       width: 600px; }

       .flip-box {
      width: 300px;
      height: 300px;
    }

         .flip-box-back p {
      font-size: 0.75em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.7em;
    }
}

    @media only screen and (min-width: 768px){
.grid {
       grid-template: repeat(6, 1fr)/ repeat(2, 1fr);
       display: grid;
       width: 768px; }

       .flip-box {
      width: 384px;
      height: 384px;
    }

         .flip-box-back p {
      font-size: 1em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.9em;
    }
}

@media only screen and (min-width: 900px) {
        /* Speakers */
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(3, 1fr);
       display: grid;
       width: 900px;
    }

           .flip-box {
      width: 300px;
      height: 300px;
    }

             .flip-box-back p {
      font-size: 0.75em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.7em;
    }
}

@media only screen and (min-width: 1200px) {
        /* Speakers */
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(4, 1fr);
       display: grid;
       width: 1200px;
    }
}

@media only screen and (min-width: 1600px) {
  /* Speakers */
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(4, 1fr);
       display: grid;
       width: 1600px;
       }

       .flip-box {
      width: 400px;
      height: 400px;
      }

       .flip-box-back p {
      font-size: 1.1em;
      padding: 10px;
      line-height: 1.6em;
    }

    .flip-box-back .small {
      font-size: 1em;
      line-height: 1.6em;
    }

      .flip-box-back h4 {
      font-size: 1.2 em;
      padding-top: 10px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h5 {
      font-size: 0.9em;
      padding: 5px;
    }
  }

@media only screen and (min-width: 2000px) {
        /* Speakers */
    .grid {
       grid-template: repeat(5, 1fr)/ repeat(5, 1fr);
       display: grid;
       width: 2000px;
    }
}

@media only screen and (min-width: 2400px) {
        /* Speakers */
    .grid {
       grid-template: repeat(4, 1fr)/ repeat(6, 1fr);
       display: grid;
       width: 2400px;
    }
}

@media only screen and (min-width: 2800px) {
        /* Speakers */
    .grid {
       grid-template: repeat(4, 1fr)/ repeat(7, 1fr);
       display: grid;
       width: 2800px;
    }
}


