
  @font-face {
    font-family: 'AcariSans';
    src: url('https://dl.1001fonts.com/acari-sans.zip');
    font-family: 'Aileron';
    src: url('https://www.fontsc.com/font/download/aileron');
}
/* 213E7A = Dark blue
   FE8548 = Orange
   16BCFA = Turquoise */

 /* Text formatting */

h1 {

}

.titles {
  background-color: #213E7A;
  color: white;
  font-family: Aileron light;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.subtitle {
  background-color: #16BCFA;
  color: White;
  font-family: AcariSans;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text {
  background-color: white;
  color: #213E7A;
  font-family: Aileron;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}


/* Icons */

.icons {
  font-family: Aileron;
  padding-right: 60px;
  padding-left: 60px;
  color: #213E7A;
  text-align: : center;
}


.fa {
  padding: 30px;
  font-size: 300px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  align-content: center;
}

/* Hover */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #0077B5 ;
  color: white;
}

/* Instagram */
.fa-instagram {
 background: linear-gradient( #400080, transparent);
 background: linear-gradient(200deg, #d047d1, #ff0000,    #ffff00);
 color: white;
}


/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #213E7A;
  font-family: Aileron;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: #FE8548;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Colour of hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  opacity: 0.7;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Conference dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #FE8548;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #213E7A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


