
  @font-face {
    font-family: 'AcariSans';
    src: url('https://dl.1001fonts.com/acari-sans.zip');
    font-family: 'Aileron';
    src: url('https://www.fontsc.com/font/download/aileron');
}
<!-- 213E7A = Dark blue
  -- FE8548 = Orange
  -- 16BCFA = Turquoise
  -- ffffff  = White >

h1 {
  background-color: white;
  color: #FE8548;
  font-family: AcariSans
}
body {
  background-color: white;
  color: #213E7A;
  font-family: Aileron
  ;

.titles {
	width: :; 100%;
	height: 500px;
	bakcground-image: linear-gradient (to right, #16BCFA, #213E7A);
}



