

/* Mobile Speakers 300px */

    .grid {
       grid-template: repeat(6, 1fr)/ repeat(1, 1fr);
       display: grid;
       position: block;
       width: 300px;
       margin-left: auto;
       margin-right: auto;
    }

    .mspeaker {
      display: block;
      width: 100%;
    }

    .dspeaker {
      display: none;
    }

      .flip-box {
      background-color: white;
      width: 300px;
      height: 300px;
      perspective: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .flip-box-front {
      background-color: white;
    }

    .flip-box-front img {
          width: 100%;
          border: 0;
          padding: 0;
          margin: 0;
    }

    .flip-box-back p {
      font-size: 0.75em;
      text-align: justify;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.7em;
      text-align: justify;
    }

    .flip-box-back h4 {
      text-align: center;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .flip-box-back {
      background-color: white;
      text-align: left;
      color: white;
      transform: rotateY(180deg);
    }

    h5 {
      font-size: 0.8em;
      color: #213E7A;
      text-align: center;
      padding: 5px;
    }

    .turquoise-background {
      background-color: #16BCFA;
    }


    @media only screen and (min-width: 500px){
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(2, 1fr);
       width: 500px;
    }

    .flip-box {
      background-color: white;
      width: 250px;
      height: 250px;
      }

     .flip-box-back p {
      font-size: 0.65em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.6em;
    }
  }


    @media only screen and (min-width: 600px){
        
        /* Speakers */

    .grid {
       grid-template: repeat(6, 1fr)/ repeat(2, 1fr);
       display: grid;
       width: 600px; }

       .flip-box {
      background-color: white;
      width: 300px;
      height: 300px;
    }

         .flip-box-back p {
      font-size: 0.75em;
      padding: 10px;
    }

    .flip-box-back .small {
      font-size: 0.7em;
    }
}
@media only screen and (min-width: 900px) {
        /* Speakers */
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(3, 1fr);
       display: grid;
       width: 900px;
    }
}

@media only screen and (min-width: 1200px) {
        /* Speakers */
    .grid {
       grid-template: repeat(6, 1fr)/ repeat(4, 1fr);
       display: grid;
       width: 1200px;
    }
}
