

* {margin: 0;
padding: 0;}

.wrapper {
	width: 100%;
}

.img-banner {
	display: none;
}

.img-info {
	width: 100%;
}

.img-info h2{
	padding: 30px 30px 20px;
	font-family: arial;
	font-size: 50px;
	color: #111;
	line-height: 44px;
}

.img-info p {
	padding: 30px 30px 20px;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 24px;
}

.img-brei {
	width: 100%;
}

.maincontainer{
	position: relative;
	width: 250px;
	height: 320px;
	background-color: green;
} 

.thecard{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.thefront{ 
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: yellow;
	color: black;
}

.theback{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: pink;
	color: black;
	transform: rotateY(180deg);
}

.thecard:hover{
	transform: rotateY(180deg);
}

@media only screen and (min-width: 800px) {

	.img-banner {
	display: block;
	width: 100%;
	padding-bottom: 30px;
	}

	.wrapper {
	width: 600px;
	margin: 0 auto;
	}

	.img-info h2{
	padding: 20px 0px 0px;
	}

	.img-info p {
	padding: 20px 0px 0px;
	}

	.img-brei {
	padding-top: 30px;
	}
}


@media only screen and (min-width: 1000px) {

	.wrapper {
	width: 1000px;
	}

	.img-info {
	width: 50%;
	float: right;
	}

		.img-info h2{
	padding: 20px 0px 0px 30px;
	}

	.img-info p {
	padding: 20px 0px 0px 30px;
	}

	.img-brei {
	padding-top: 0px;
	width: 50%;
	float: left;
	}
}


/** Absolute takes it out of the normal work stream 
z-index can layer things **/